<html>
    <head>
        <title>

        </title>
    </head>
    <body>
        <h1 id="om"> hello html page </h1>
        <form method="post" action="/form">
            <input 
            type="text"
            placeholder="username"
            name="username"
            />
            <input 
            type="text"
            placeholder="address"
            name="address"
            />
            <input type="submit" value="submit"/>

        </form>
    </body>
</html>